.footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);
}
.footer__container {
  flex-direction: column;
  align-items: center;

  // tablet screen
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    display: flex;
  }
}
.container-addres {
  flex-direction: column;
  display: flex;
  align-items: center;

  // tablet screen
  @media screen and (min-width: 768px) {
    align-items: center;
    margin-left: 61px;
  }
  // desktop screen
  @media screen and (min-width: 1200px) {
    align-items: normal;
  }
}
